<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
	<h1>
		Queries using FTS
		<small class="text-muted">Full Table Scan</small>
	</h1>

	<f:if condition="{profileRecords}">
		<f:then>
			<f:render section="renderProfileTable" arguments="{_all}" />
		</f:then>
		<f:else>
			<f:be.infobox title="No Queries Found" state="-1" disableIcon="false">
				Currently, mysqlreport has not found any queries using full table scans.
			</f:be.infobox>
		</f:else>
	</f:if>
</f:section>

<f:section name="renderProfileTable">
	<table class="table">
		<thead>
		<tr>
			<th>Query</th>
			<th>Duration</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody>
		<f:for each="{profileRecords}" as="profileRecord">
			<tr>
				<td>{profileRecord.query}...</td>
				<td>
					{profileRecord.duration}
				</td>
				<td>
					<f:link.action action="profileInfo"
					               class="btn btn-default"
					               arguments="{actionName: 'fullTableScan', uid: profileRecord.uid}">
						<core:icon identifier="actions-search" />
					</f:link.action>
				</td>
			</tr>
		</f:for>
		</tbody>
	</table>
</f:section>
</html>
