<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <h1>
        Queries using FTS
        <small class="text-muted">Full Table Scan</small>
    </h1>

    <f:if condition="{profileRecords}">
        <f:then>
            <f:render section="renderProfileTable" arguments="{_all}"/>
        </f:then>
        <f:else>
            <f:be.infobox title="No Queries Found" state="-1" disableIcon="false">
                Currently, mysqlreport has not found any queries using full table scans.
            </f:be.infobox>
        </f:else>
    </f:if>
</f:section>

<f:section name="renderProfileTable">
    <table class="table">
        <thead>
        <tr>
            <th>Query</th>
            <th>Duration</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{profileRecords}" as="profileRecord">
            <tr>
                <td>{profileRecord.query}...</td>
                <td>
                    {profileRecord.duration}
                </td>
                <td>
                    <a href="{be:moduleLink(route: 'mysqlreport_query_profileinfo', arguments: {prevRouteIdentifier: 'mysqlreport_query_fulltablescan', uid: profileRecord.uid})}"
                       class="btn btn-default">
                        <core:icon identifier="actions-search"/>
                    </a>
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:section>
</html>
