<html lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:m="http://typo3.org/ns/StefanFroemken/Mysqlreport/ViewHelpers"
	  data-namespace-typo3-fluid="true">


<m:innoDbBuffer status="{status}" variables="{variables}">
	<div class="panel panel-{writeRatio.status}">
		<div class="panel-heading">
			<h3 class="panel-title">Write Ratio</h3>
		</div>
		<div class="panel-body">
			<p>{writeRatio.value}</p>
			<p>As higher than 1 as better.</p>
		</div>
	</div>
</m:innoDbBuffer>
</html>
