<html lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:m="http://typo3.org/ns/StefanFroemken/Mysqlreport/ViewHelpers"
	  data-namespace-typo3-fluid="true">


<m:innoDbBuffer status="{status}" variables="{variables}">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">InnoDB Buffer Load</h3>
		</div>
		<div class="panel-body">
			<p>Following progressbar shows you how pages (a block with {status.innodbPageSize} Bytes) are currently balanced in InnoDB Buffer</p>
			<p>If free InnoDB Buffer is below 15-20% it may indicate that you have to increase your innodb_buffer_pool_size</p>
			<p>If free InnoDB Buffer is higher than 20-30% it may indicate that you should reduce innodb_buffer_pool_size</p>
			<div class="progress">
				<div class="progress-bar progress-bar-success" style="width: {load.dataPercent}%"></div>
				<div class="progress-bar progress-bar-warning progress-bar-striped" style="width: {load.miscPercent}%"></div>
				<div class="progress-bar progress-bar-info" style="width: {load.freePercent}%"></div>
			</div>
			<ul class="list-group">
				<li class="list-group-item">Total: {load.total}</li>
				<li class="list-group-item list-group-item-success">Data: {load.data} ({load.dataPercent}%)</li>
				<li class="list-group-item list-group-item-warning">Misc: {load.misc} ({load.miscPercent}%)</li>
				<li class="list-group-item list-group-item-info">Free: {load.free} ({load.freePercent}%)</li>
			</ul>
		</div>
	</div>

	<div class="panel panel-{hitRatio.status}">
		<div class="panel-heading">
			<h3 class="panel-title">Hit Ratio</h3>
		</div>
		<div class="panel-body">
			<p>{hitRatio.value}%</p>
			<p>As higher as better.</p>
			<p>Everything below 90 is really bad. 99 maybe OK, but is not perfect. Everything above 99.9 is great.</p>
			<f:if condition="{0: hitRatio.status}!={0: 'success'}">
				<p>Please increase the value of innodb_buffer_pool_size (Current value: <strong>{variables.innodbBufferPoolSize}</strong> Bytes)</p>
			</f:if>
		</div>
	</div>

	<div class="panel panel-{hitRatioBySF.status}">
		<div class="panel-heading">
			<h3 class="panel-title">Hit Ratio by SF</h3>
		</div>
		<div class="panel-body">
			<p>IMO we should have a factor of 1/1000 of speed between reading from HDD and reading from RAM.</p>
			<p>So, the amount of reading from HDD * 1000 would be our nice-to-have value for reading from RAM.</p>
			<p>100 / value of nice-to-have * innodb_buffer_pool_read_requests shows us a percentage value how far we are away from factor 1/1000.</p>
			<div class="progress">
				<div class="progress-bar progress-bar-{hitRatioBySF.status}" style="width: {hitRatioBySF.value}%"></div>
			</div>
		</div>
	</div>

	<div class="panel panel-{logFile.status}">
		<div class="panel-heading">
			<h3 class="panel-title">Log File Size</h3>
		</div>
		<div class="panel-body">
			<p>Your current log file size is {logFile.value} Bytes.</p>
			<p>A good value for your log files would be a little bit higher than: {logFile.niceToHave} Bytes.</p>
			<p>Please call this test only on high peak of your server.</p>
			<p>
				Be careful: When changing this value you have to cleanly shutdown your MySQL, backup and remove the
				ib_logfile*-files from data-directory. Start your server. If there are no errors you can safely delete your
				backed up ib_logfile*-files.
			</p>
		</div>
	</div>

	<div class="panel panel-{instances.status}">
		<div class="panel-heading">
			<h3 class="panel-title">Instances Check</h3>
		</div>
		<div class="panel-body">
			<p>Each Instance should be allocated to 1GB.</p>
			<p>You just have defined {instances.value} Instances. This would enough to allocate {instances.value} GB</p>
			<p>If your innodb_buffer_pool_size is less than 1GB, 1 Instance is OK.</p>
		</div>
	</div>

	<div class="panel panel-{writeRatio.status}">
		<div class="panel-heading">
			<h3 class="panel-title">Write Ratio</h3>
		</div>
		<div class="panel-body">
			<p>{writeRatio.value}</p>
			<p>As higher than 1 as better.</p>
		</div>
	</div>
</m:innoDbBuffer>
</html>
