<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:m="http://typo3.org/ns/StefanFroemken/Mysqlreport/ViewHelper"
      data-namespace-typo3-fluid="true">

<f:be.infobox title="Query" disableIcon="true">
    {profileRecord.query -> m:format.sql() -> f:format.raw()}
</f:be.infobox>

<f:if condition="{profileRecord.profile}">
    <f:then>
        <h1>Profile output</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Status</th>
                <th>Duration</th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{profileRecord.profile}" as="status">
                <tr>
                    <td>{status.Status}</td>
                    <td>{status.Duration}</td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </f:then>
    <f:else>
        <f:be.infobox title="Profile Output" disableIcon="true">
            You can activate profile output in extension settings of mysqlreport, if
            you need more information about each query to debug.
        </f:be.infobox>
    </f:else>
</f:if>

<f:if condition="{profileRecord.explain}">
    <h1>Explain output</h1>

    <table class="table">
        <thead>
        <tr>
            <f:for each="{profileRecord.explain.0}" as="value" key="key">
                <th>{key}</th>
            </f:for>
        </tr>
        </thead>
        <tbody>
        <f:for each="{profileRecord.explain}" as="explain">
            <tr>
                <f:for each="{explain}" as="value">
                    <td>{value}</td>
                </f:for>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:if>
