<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:m="http://typo3.org/ns/StefanFroemken/Mysqlreport/ViewHelper"
      data-namespace-typo3-fluid="true">

<f:be.infobox title="Query" disableIcon="true">
    {profileRecord.query -> m:format.sql() -> f:format.raw()}
</f:be.infobox>

<f:if condition="{profileRecord.explain}">
    <h1>Explain output</h1>

    <table class="table">
        <thead>
        <tr>
            <f:for each="{profileRecord.explain.0}" as="value" key="key">
                <th>{key}</th>
            </f:for>
        </tr>
        </thead>
        <tbody>
        <f:for each="{profileRecord.explain}" as="explain">
            <tr>
                <f:for each="{explain}" as="value">
                    <td>{value}</td>
                </f:for>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:if>
