{namespace sf=StefanFroemken\Mysqlreport\ViewHelpers}

<sf:queryCache status="{status}" variables="{variables}">
	<div class="panel panel-{hitRatio.status}">
		<div class="panel-heading">
			<h3 class="panel-title">Hit Ratio</h3>
		</div>
		<div class="panel-body">
			<p>{hitRatio.value}%</p>
			<p>As higher as better.</p>
		</div>
	</div>
	<div class="panel panel-{insertRatio.status}">
		<div class="panel-heading">
			<h3 class="panel-title">Insert Ratio</h3>
		</div>
		<div class="panel-body">
			<p>{insertRatio.value}%</p>
			<p>This indicates if queries are written into cache very often</p>
			<p>If you have just started your MySQL-Server or have less SELECT-Statement this value can be red or yellow. So please wait till all caches are warmed up.</p>
		</div>
	</div>
	<f:if condition="{variables.queryCacheSize}>268435456">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">Query Cache too high</h3>
			</div>
			<div class="panel-body">
				<p>The query cache is configured too high. Because of concurrency it may take too long to delete queries
					from Query Cache. Try to keep query cache below 256MB</p>
			</div>
		</div>
	</f:if>
	<div class="panel panel-{pruneRatio.status}">
		<div class="panel-heading">
			<h3 class="panel-title">Prune Ratio</h3>
		</div>
		<div class="panel-body">
			<p>{pruneRatio.value}%</p>
			<p>This is the ratio between deleted and inserted queries in cache.</p>
			<p>If a new query was written into Cache and prune increases, it may indicate, that query_cache_size is too small.
				But be careful and don't set query_cache_size too high. A maximum of 256MB should be OK.
			</p>
			<p>If ratio is still high you should check your query_cache_limit. Please check section "Average used blocks" below</p>
			<p>If ratio is still too high you have too much different queries. Please deactivate Query Cache completely.
				It does not make sense to increase query_cache_size, because of mutex/concurrency while updating or deleting records
			</p>
		</div>
	</div>
	<div class="panel panel-{fragmentationRatio.status}">
		<div class="panel-heading">
			<h3 class="panel-title">Fragmentation Ratio</h3>
		</div>
		<div class="panel-body">
			<p>{fragmentationRatio.value}%</p>
			<p>You can defragment query cache with FLUSH QUERY CACHE if you are allowed to (RELOAD privileges).
				While processing FLUSH, query cache is not available and all queries will be blocked for that duration.
				But this command is very fast if your query_cache_size is small.
			</p>
			<p>If you want to clear query cache you should use: RESET QUERY CACHE</p>
		</div>
	</div>
	<div class="panel panel-{avgQuerySize.status}">
		<div class="panel-heading">
			<h3 class="panel-title">Average Query size</h3>
		</div>
		<div class="panel-body">
			<p>Average Query Size of <strong>{avgQuerySize.value}</strong> Bytes should not be higher than <strong>{variables.queryCacheMinResUnit}</strong> (query_cache_min_res_unit).</p>
			<f:if condition="{0:avgQuerySize.status}=={0: 'danger'}">
				<p>Please set query_cache_min_res_unit a little bit higher than average Query Size.</p>
			</f:if>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Average used blocks</h3>
		</div>
		<div class="panel-body">
			<p>With an average amount of <strong>{avgUsedBlocks.value}</strong> used blocks you have overall <strong>{avgUsedBlocks.status}</strong> Queries in Cache</p>
			<p>Please adjust query_cache_limit of currently <strong>{variables.queryCacheLimit}</strong> Bytes to your needs:</p>
			<ul>
				<li><strong>very small</strong> queries: 16KB - 128KB</li>
				<li><strong>small</strong> queries: 128KB - 256KB</li>
				<li><strong>medium</strong> queries: 256KB - 1MB</li>
				<li><strong>big</strong> queries: 1MB - 4MB</li>
			</ul>
		</div>
	</div>
</sf:queryCache>
