<html lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:m="http://typo3.org/ns/StefanFroemken/Mysqlreport/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<m:tableCache status="{status}" variables="{variables}">
	<div class="panel panel-{openedTableDefsEachSecond.status}">
		<div class="panel-heading">
			<h3 class="panel-title">Opened Table Definitions each second</h3>
		</div>
		<div class="panel-body">
			<p>{openedTableDefsEachSecond.value}</p>
			<p>As lower as better</p>
		</div>
	</div>
	<div class="panel panel-{openedTablesEachSecond.status}">
		<div class="panel-heading">
			<h3 class="panel-title">Opened Tables each second</h3>
		</div>
		<div class="panel-body">
			<p>{openedTablesEachSecond.value}</p>
			<p>As lower as better</p>
		</div>
	</div>
</m:tableCache>
</html>
