<f:if condition="{status.uptime}=={status.uptimeSinceFlushStatus}">
	<f:then>
		<f:if condition="{status.uptime}<21600">
			<f:then>
				<div class="alert alert-danger" role="alert">
					<strong>Alert!</strong> Your server just runs less than 6 hours. It does not make sense to analyze the status variables.
				</div>
			</f:then>
			<f:else>
				<f:if condition="{status.uptime}<604800">
					<f:then>
						<div class="alert alert-warning" role="alert">
							<strong>Warning!</strong> Your server just runs less than a week. This is maybe OK for a first look to your status variables, but a longer run of the server would be much better.
						</div>
					</f:then>
					<f:else>
						<div class="alert alert-success" role="alert">
							<strong>Well done!</strong> Your server runs longer than one week. This should be enough to have good results while analyzing status variables.
						</div>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<f:if condition="{status.updateSinceFlushStatus}<21600">
			<f:then>
				<div class="alert alert-danger" role="alert">
					<strong>Alert!</strong> Your status was resetted within the last 6 hours. It does not make sense to analyze the status variables.
					You can stop flushing the status variables by forbid RELOAD privilege on MySQL-Server
				</div>
			</f:then>
			<f:else>
				<f:if condition="{status.updateSinceFlushStatus}<604800">
					<f:then>
						<div class="alert alert-warning" role="alert">
							<strong>Warning!</strong> Your status was resetted within the last week. This is maybe OK for a first look to status variables, but it would be much better to have a higher uptime_since_flush_status.
							You can stop flushing the status variables by forbid RELOAD privilege on MySQL-Server
						</div>
					</f:then>
					<f:else>
						<div class="alert alert-success" role="alert">
							<strong>Well done!</strong> Your status is older than 1 week. That should be enough uptime to have good results for analyzing the status variables.
						</div>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</f:else>
</f:if>