<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module"/>

<f:section name="Content">
    <h1>Query Information</h1>

    <p>
        <f:if condition="{prevController}">
            <f:then>
                <f:link.action action="index"
                               controller="{prevController}"
                               class="btn btn-primary">
                    Back
                </f:link.action>
            </f:then>
            <f:else>
                <f:link.action action="queryType"
                               controller="Profile"
                               class="btn btn-primary"
                               arguments="{uniqueIdentifier: queryInformationRecord.unique_call_identifier, queryType: queryInformationRecord.query_type}">
                    Back
                </f:link.action>
            </f:else>
        </f:if>

        <f:if condition="{queryInformationRecord.query_type} == 'SELECT'">
            <f:if condition="{prevController}">
                <f:then>
                    <f:link.action action="queryProfiling"
                                   controller="Profile"
                                   class="btn btn-primary"
                                   arguments="{uid: queryInformationRecord.uid, prevController: prevController}">
                        Show Query Profile
                    </f:link.action>
                </f:then>
                <f:else>
                    <f:link.action action="queryProfiling"
                                   controller="Profile"
                                   class="btn btn-primary"
                                   arguments="{uid: queryInformationRecord.uid}">
                        Show Query Profile
                    </f:link.action>
                </f:else>
            </f:if>
        </f:if>
    </p>

    <f:render partial="ProfileInfo" arguments="{_all}"/>
</f:section>
</html>
