<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module"/>

<f:section name="Content">
    <h1>Queries grouped by request</h1>

    <f:if condition="{queryInformationRecords}">
        <f:then>
            <table class="table">
                <thead>
                <tr>
                    <th>Execution time</th>
                    <th>Mode</th>
                    <th>Amount of queries in request</th>
                    <th>Summed Duration</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{queryInformationRecords}" as="queryInformationRecord">
                    <tr>
                        <td>{queryInformationRecord.crdate -> f:format.date(format: 'd.m.Y H:i:s')}</td>
                        <td>{queryInformationRecord.mode}</td>
                        <td>{queryInformationRecord.amount}</td>
                        <td>
                            {queryInformationRecord.duration}
                        </td>
                        <td>
                            <f:link.action action="show"
                                           controller="Profile"
                                           class="btn btn-primary"
                                           arguments="{uniqueIdentifier: queryInformationRecord.unique_call_identifier}">
                                <core:icon identifier="actions-search"/>
                            </f:link.action>
                            <a href="{queryInformationRecord.request}" target="_blank">
                                <span data-bs-toggle="tooltip"
                                      title="{queryInformationRecord.request}"
                                      class="btn btn-default"
                                      data-bs-html="true"
                                      data-bs-placement="right">
                                    <core:icon identifier="actions-document-share"/>
                                </span>
                            </a>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </f:then>
        <f:else>
            <f:be.infobox title="No profile records" state="-1" disableIcon="true">
                No profile records collected.
                Please enable profiling for BE and/or FE in extension settings,
                visit some pages in BE and/or FE
                and visit this profile section again.
            </f:be.infobox>
        </f:else>
    </f:if>
</f:section>
</html>
