<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module"/>

<f:section name="Content">
    <h1>Queries of selected type</h1>

    <p>
        <a href="{be:moduleLink(route: 'mysqlreport_profile_show', arguments: {uniqueIdentifier: uniqueIdentifier})}"
           class="btn btn-primary">
            Back
        </a>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th>ID/Order</th>
            <th>Query</th>
            <th>Using index</th>
            <th>Duration</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{queryInformationRecords}" as="queryInformationRecord">
            <tr>
                <td>{queryInformationRecord.query_id}</td>
                <td>{queryInformationRecord.query}...</td>
                <td>
                    <f:if condition="{queryInformationRecord.using_index}">
                        <f:then>
                            <core:icon identifier="actions-check"/>
                        </f:then>
                        <f:else>
                            <core:icon identifier="actions-message-ok-close"/>
                        </f:else>
                    </f:if>
                </td>
                <td>
                    {queryInformationRecord.duration}
                </td>
                <td>
                    <a href="{be:moduleLink(route: 'mysqlreport_profile_info', arguments: {uid: queryInformationRecord.uid})}"
                       class="btn btn-default">
                        <core:icon identifier="actions-search"/>
                    </a>
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:section>
</html>
