<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
	<f:link.action action="show" controller="Profile" class="btn btn-primary"
	               arguments="{uniqueIdentifier: uniqueIdentifier}">Back
	</f:link.action>
	<table class="table">
		<thead>
		<tr>
			<th>ID/Order</th>
			<th>Query</th>
			<th>Not using index</th>
			<th>Duration</th>
		</tr>
		</thead>
		<tbody>
		<f:for each="{profilings}" as="profile">
			<tr>
				<td>{profile.query_id}</td>
				<td>{profile.query}...</td>
				<td>{profile.not_using_index}</td>
				<td>
					<f:link.action action="profileInfo"
					               arguments="{uniqueIdentifier: uniqueIdentifier, queryType: queryType, uid: profile.uid}">
						{profile.duration}
					</f:link.action>
				</td>
			</tr>
		</f:for>
		</tbody>
	</table>
</f:section>
</html>
