<f:layout name="Default" />

<f:section name="content">
	<f:link.action action="list" controller="Profile" class="btn btn-primary">Back</f:link.action>
	<table class="table">
		<thead>
			<tr>
				<th>Query type</th>
				<th>Amount of queries</th>
				<th>Summed Duration</th>
			</tr>
		</thead>
		<tbody>
			<f:for each="{profileTypes}" as="profile">
				<tr>
					<td>{profile.query_type}</td>
					<td>{profile.amount}</td>
					<td><f:link.action action="queryType" controller="Profile" arguments="{uniqueIdentifier: profile.unique_call_identifier, queryType: profile.query_type}">{profile.duration}</f:link.action></td>
				</tr>
			</f:for>
		</tbody>
	</table>
</f:section>