imports:
- { resource: Backend/DashboardWidgets.yaml }

parameters:
  default_connection_name: 'Default'

services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  StefanFroemken\Mysqlreport\:
    resource: '../Classes/*'
    exclude:
      - '../Classes/Domain/Model/*'
      - '../Classes/InfoBox/ListElement.php'

  mysqlreport.page.information:
    class: StefanFroemken\Mysqlreport\Menu\Page
    arguments: [!tagged_iterator { tag: 'mysqlreport.infobox.status' }]

  mysqlreport.page.innodb:
    class: StefanFroemken\Mysqlreport\Menu\Page
    arguments: [!tagged_iterator { tag: 'mysqlreport.infobox.innodb' }]

  mysqlreport.page.misc:
    class: StefanFroemken\Mysqlreport\Menu\Page
    arguments: [!tagged_iterator { tag: 'mysqlreport.infobox.misc' }]

  mysqlreport.page.query_cache:
    class: StefanFroemken\Mysqlreport\Menu\Page
    arguments: [!tagged_iterator { tag: 'mysqlreport.infobox.query_cache' }]

  mysqlreport.page.table_cache:
    class: StefanFroemken\Mysqlreport\Menu\Page
    arguments: [!tagged_iterator { tag: 'mysqlreport.infobox.table_cache' }]

  mysqlreport.page.thread_cache:
    class: StefanFroemken\Mysqlreport\Menu\Page
    arguments: [!tagged_iterator { tag: 'mysqlreport.infobox.thread_cache' }]

  # Will be called via GeneralUtility::makeInstance in LoggerWithQueryTimeMiddleware and LoggerWithQueryTimeConnection
  StefanFroemken\Mysqlreport\Configuration\ExtConf:
    public: true

  StefanFroemken\Mysqlreport\Controller\InnoDBController:
    arguments:
      $page: '@mysqlreport.page.innodb'

  StefanFroemken\Mysqlreport\Controller\MiscController:
    arguments:
      $page: '@mysqlreport.page.misc'

  StefanFroemken\Mysqlreport\Controller\QueryCacheController:
    arguments:
      $page: '@mysqlreport.page.query_cache'

  StefanFroemken\Mysqlreport\Controller\StatusController:
    arguments:
      $page: '@mysqlreport.page.information'

  StefanFroemken\Mysqlreport\Controller\TableCacheController:
    arguments:
      $page: '@mysqlreport.page.table_cache'

  StefanFroemken\Mysqlreport\Controller\ThreadCacheController:
    arguments:
      $page: '@mysqlreport.page.thread_cache'

  # Will be called via GeneralUtility::makeInstance in ConnectionPool
  StefanFroemken\Mysqlreport\Doctrine\Middleware\LoggerWithQueryTimeMiddleware:
    public: true

  # Will be called via GeneralUtility::makeInstance in LoggerWithQueryTimeMiddleware
  # Disable autowire, because $wrappedDriver as constructor argument will be transferred by LoggerWithQueryTimeMiddleware manually
  StefanFroemken\Mysqlreport\Doctrine\Middleware\LoggerWithQueryTimeDriver:
    autowire: false
    public: false

  # Will be called via GeneralUtility::makeInstance in LoggerWithQueryTimeDriver
  # Disable autowire, because $connection as constructor argument will be transferred by LoggerWithQueryTimeDriver manually
  # Shared false, as that object contains data. Stateful.
  StefanFroemken\Mysqlreport\Doctrine\Middleware\LoggerWithQueryTimeConnection:
    autowire: false
    public: false
    shared: false

  # Will be called via GeneralUtility::makeInstance in LoggerWithQueryTimeConnection
  # Disable autowire, because $wrappedStatement and $sql as constructor argument will be transferred by LoggerWithQueryTimeConnection manually
  # Shared false, as that object contains data. Stateful.
  StefanFroemken\Mysqlreport\Doctrine\Middleware\LoggerStatement:
    autowire: false
    public: true
    shared: false

  StefanFroemken\Mysqlreport\Controller\ProfileController:
    public: true

  StefanFroemken\Mysqlreport\Controller\QueryController:
    public: true

  # Will be called via GeneralUtility::makeInstance in LoggerWithQueryTimeConnection
  StefanFroemken\Mysqlreport\Domain\Repository\QueryInformationRepository:
    public: true

  # Will be called via GeneralUtility::makeInstance in LoggerWithQueryTimeConnection
  StefanFroemken\Mysqlreport\Helper\ExplainQueryHelper:
    public: true

  StefanFroemken\Mysqlreport\Report\StatusReport:
    tags:
      - name: reports.status

  StefanFroemken\Mysqlreport\ViewHelper\Format\SqlViewHelper:
    calls:
      - setSqlFormatter: ['@?Doctrine\SqlFormatter\SqlFormatter']

  StefanFroemken\Mysqlreport\Logger\MySqlReportSqlLogger:
    public: true

  StefanFroemken\Mysqlreport\EventListener\CacheAction:
    tags:
      - name: event.listener
        event: TYPO3\CMS\Backend\Backend\Event\ModifyClearCacheActionsEvent
  StefanFroemken\Mysqlreport\EventListener\RoundDurationOfQueryInformationRecordsEventListener:
    tags:
      - name: event.listener
        event: StefanFroemken\Mysqlreport\Event\ModifyQueryInformationRecordsEvent
