<f:layout name="Default" />

<f:section name="content">
	<f:render partial="Uptime" arguments="{status: status}" />
	<f:if condition="{variables.queryCacheType}">
		<f:then>
			<f:if condition="{variables.queryCacheSize}">
				<f:then>
					<f:render partial="QueryCache" arguments="{status: status, variables: variables}" />
				</f:then>
				<f:else>
					<p>Query Cache is activated, but query_cache_size can not be 0</p>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<p>Query Cache is not activated</p>
		</f:else>
	</f:if>
</f:section>